<% provide(:title, "Home") %>
    
      
    </p>

 <div class="center jumbotron">
  <h1>Put graphics here!</h1>

  <a class="btn btn-success btn-lg" href="incomes/new" role="button" id="btnIncome">Add Income</a>
	<a class="btn btn-success btn-lg" href="expenses/new" role="button" id="btnExpense">Add Expenses</a>
</div>
    
