<% provide(:title, "Home") %>
    
    <p>
      Based on
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      
    </p>
    <div class="center jumbotron">
  <h1>Put graphics here!</h1>

  <a class="btn btn-success btn-lg" href="#" role="button" id="btnIncome">Add Income</a>
	<a class="btn btn-success btn-lg" href="expense/new" role="button" id="btnExpense">Add Expenses</a>
</div>
    
